# === 编译与打包产物 ===
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# === IntelliJ IDEA / VS Code ===
.idea/
*.iws
*.iml
*.ipr
.vscode/

# === 操作系统缓存 ===
.DS_Store

# === 核心隐私与动态数据拦截 ===
# 绝对禁止上传账号存档、游戏快捷方式路径和历史巡航报表
profiles/

# 绝对禁止上传系统生成的运行日志和崩溃缓存
*.log
.sentry-native/